$color__background-body: #ededed;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-red: #ff2b06;
$color__text-white: #ffffff;
$color__text-grey: #6a6a6a;
$color__text-darkred: #7d1300;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__navigation__link: #fff;
$color__navigation__link-hover: #ff2b06;
$color__link: $color__text-red;
$color__link-visited: $color__text-red;
$color__link-hover: $color__text-darkred;
$color__text-main: #000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Footer colors
$color__footer_background: #d9d9d9;
$color__footer_border: #c4c4c4;
$color__footer_links: gray;
