@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,500);

$font__main: 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__size-p: 22px;
$font__size-h1: 68px;
$font__size-h2: 40px;
$font__weight-light: 100;
$font__weight-normal: 300;
$font__weight-bold: 500;
