h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-size: $font__size-h1;
	color: $color__text-red;
	font-weight: $font__weight-light;

	&.darkred {
		color: $color__text-darkred;
	}
}

h2 {
	font-size: $font__size-h2;
	color: $color__text-red;
	font-weight: $font__weight-light;

	&.darkred {
		color: $color__text-darkred;
	}
}

// Use the redline mixin for headings in posts
.entry-content {
	> h1, > h2 {
		@include redline;
	}
}
