body,
button,
input,
select,
textarea {
	color: $color__text-body;
	font-family: $font__main;
	@include font-size(1);
	font-weight: $font__weight-light;
	-webkit-text-size-adjust: 100%;  //fix for iOS
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

@import "headings";
@import "copy";
