// Styles for the pop-up infobox in the page content
.hentry {
	.red-frame-box {
		float: right;
		margin: 1em 0 1em 2em;
		padding: 1em 3em;
		max-width: 400px;
		border: 5px solid $color__text-red;

		p {
			@include font-size(0.9);
		}

		.red {
			color: $color__text-red;
		}
		.bold {
			font-weight: 600;
		}
		.light {
			font-weight: 200;
		}
	}
}
