// Styles for the large hero unit with grey infobox
.hero-unit.grey {
	margin-top: 90px;
	min-height: 600px;
	background-color: #e0e0e0;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;

	// General purpose centering and columnn rules
	.center {
		max-width: $container__max-width;
		padding-top: 32px;
		@include center-block;
	}

	.quote p,
	.quote h1,
	.quote h2 {
		@include redline(1.5em, 0.5em);
	}

	.infobox {
		@include infobox( #959595, #fff, 700px );
		padding: 32px;
	}
}

.hero-unit.about-us {
	margin-top: 90px;
	min-height: 630px; // Set height to the size of the background image
	background: #e0e0e0 url(images/about_top.jpg) 75% no-repeat;
}

.hero-unit.press {
	margin-top: 90px;
	min-height: 562px; // Set height to the size of the background image
	background: #e0e0e0 url(images/press_top.jpg) 75% no-repeat;
}
