// Styles for the red infobox in page headers
.hero-unit.red {
	@include infobox( #ff2b06, #000 );
	padding: 32px 160px;

	// Less padding on mobile screens
	@media screen and ( max-width: 782px ) {
		padding: 1em;
		width: 100%;
	}

	h1, h2 {
		// Use the redline mixin with a custom color
		@include redline($color: #7d1300);
		// Customize the standard heading styles
		font-weight: $font__weight-light;
		text-align: left;
	}

	p {
		color: #fff;
		max-width: 750px;
		text-align: left;
		font-weight: $font__weight-light;
	}
}
