.fts-tweeter-wrap {
	display: none;

    .tweeter-info {
        border-bottom: none;

        span.fts-twitter-text {
            color: white;
        }
    }
}

.fts-tweeter-wrap.js-active-tweet {
	display: block;
	float: left;
}

.fts-twitter-reply-wrap {
    display: none;
}

.locotweet-container {
	height: 400px;
	background-color: #ff2b06;
	-webkit-box-shadow: 10px 11px 0px 0px rgba(210,222,232,1);
    -moz-box-shadow: 10px 11px 0px 0px rgba(210,222,232,1);
    box-shadow: 10px 11px 0px 0px rgba(210,222,232,1);
    position: relative;

	@media screen and ( max-width: 782px ) {
		margin: 12px auto;
		height: 360px;
	}
}

@media screen and ( max-width: 782px ) {
	.locotweet-container * {
		top: auto;
		left: auto;
	}
}

.locotweet-header {
	position: absolute;
	color: #7d1300;
	margin-left: 235px;
	top: 35px;

	@media screen and ( max-width: 782px ) {
		margin: 16px 5%;
		font-weight: 200;
	}
}

.locotweet-line {
    position: absolute;
    height: 2px;
    background-color: #7d1300;
    width: 62px;
    top: 92px;
    margin-left: 150px;
		@media screen and ( max-width: 782px ) {
			display: none;
		}
}

.locotweet-buttons {
	width: 60px;
	height: 100%;
	float: left;
	margin-top: 162px;
	margin-left: 100px;

	@media screen and ( max-width: 782px ) {
		min-width: 40px;
		width: 10%;
		margin-top: 80px;
		margin-left: 5%;
	}

	button {
		background: #ff2b06;
    	box-shadow: none;
    	text-shadow: none;
    	border-radius: 0;
    	border: 0;
    	height: 36px;
    	width: 36px;

    	&:focus {
    		outline: 0;
    	}
	}
}

.locotweet-feed {
	float: left;
	width: 484px;
	margin-top: 130px;
	margin-left: 50px;

	@media screen and ( max-width: 782px ) {
		width: 80%;
		margin-left: 0;
		margin-top: 80px;
		font-weight: 200;
	}

	a {
		color: white;
		font-weight: bold;

		&:hover {
			color: black;
		}
	}
}

.locotweet-forward {
	background-image: url(images/locotweet-forward.svg) !important;
	margin-bottom: 20px;
}

.locotweet-backward {
	background-image: url(images/locotweet-backward.svg) !important;
}

.locotweet-x {
	background-image: url(images/x.svg);
	height: 245px;
    width: 231px;
    position: absolute;
    right: 60px;
    top: -68px;

		@media screen and ( max-width: 782px ) {
			display: none;
		}
}

.locotweet-follow {
	background-image: url(images/twitterbird.svg) !important;
    margin-top: 10px;
    background-color: #3ca0e0;
    box-shadow: none;
    border:0;
    color: #fff;
    font-weight: bold;
    width: 250px;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 20px 9px;
    padding-left: 55px;
    padding-bottom: 10px;

    &:hover {
    	box-shadow: none;
    }
}

#twitter-feed-TEDxAarhus .fts-powered-by-text {
	display: none !important;
}
