.page-template-custom-meettheteam-page {

	// Hide the built-in WordPress page heading
	.entry-header {
		display: none;
	}

	// Styles for the red box
	.red-page-header {
		padding: 60px 10em;
		margin-bottom: 100px;
		// Use the redline mixin with a custom color
		h1, h2, h3 {
			font-size: $font__size-h2;
			font-weight: $font__weight-light;
			text-align: left;
			@include redline($color: #7d1300);
		}
		p {
			color: #fff;
			max-width: 700px;
			font-weight: 100;
		}
	}

	// Styles for the actual page content
	.entry-content,
	.meettheteam_container {
		margin: 0em 10em;

		h1, h2, h3, h4, h5 {
			text-align: left;
		}
	}

	.team-list {
		// Remove grey bottom border from each item
		> div {
			border: none;
			display: flex;
			align-items: center;

			.team-member-info {
				float: left;
				width: 50%;
				margin-right: 2.5%;
				text-align: center;
			}
			.team-member-des {
				float: left;
				width: 47.5%;
			}
		}

		p {
			@include font-size(0.9);
			text-align: justify;
		}

	}
}

// Styles for single team member pages
.single-team_manager {
	h1, h2, h3 {
		font-size: $font__size-h2;
		font-weight: $font__weight-light;
		text-align: left;
		// Import the redline mixin
		@include redline();
	}
}
