// Styles for the div that contains partner logos
.partners_imgs {
	a {
		color: #ff2b06;
		text-decoration: none;
		&:hover {
			color: #7d1300;
		}
		&:visited {
			color: #ff2b06;
		}
	}

	img {
		-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
		filter: grayscale(100%);
		margin-right: 45px;
		margin-bottom: 45px;
		max-width: 240px;
		vertical-align: middle;
	}
}
