.page-template-custom-partners-page {

	// Hide the built-in WordPress page heading
	.entry-header {
		display: none;
	}

	// Styles for the red box
	.red-page-header {
		padding: 60px 10em;
		margin-bottom: 100px;
		// Use the redline mixin with a custom color
		h1, h2, h3 {
			font-size: $font__size-h2;
			font-weight: $light;
			text-align: left;
			@include redline($color: #7d1300);
		}
		p {
			color: #fff;
			max-width: 700px;
			font-weight: 100;
		}
	}

	// Styles for the actual page content
	.entry-content,
	.partners_container {
		margin: 0em 10em;

		h1, h2, h3 {
			font-size: $font__size-h2;
			font-weight: $light;
			text-align: left;
			// Import the redline mixin
			@include redline();
		}
	}

	.partners_container {
		a {
			color: #ff2b06;
			text-decoration: none;
			&:hover {
				color: #7d1300;
			}
			&:visited {
				color: #ff2b06;
			}
		}

		img {
			-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
			filter: grayscale(100%);
			margin-right: 45px;
			margin-bottom: 45px;
			max-width: 240px;
			vertical-align: middle;
		}
	}
}
