.page-template-custom-press-page article {
	// Set the same margin as found on the Team and Contact pages
	margin: 0 10em;

	h1, h2, h3 {
		font-size: $font__size-h2;
		font-weight: $light;
		text-align: left;
		// Import the redline mixin
		@include redline();
	}

}
