// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Insert a red line before hedings
@mixin redline($lineLength: 90px, $lineDistance: 20px, $lineWidth: 2px, $color: $color__text-red, $indent: false) {
	color: $color;
	@media screen and ( min-width: 782px ) {
		// This defaults to true, unless a false $indent var is passed
		@if $indent {
			margin-left: $lineLength + $lineDistance;
		}
		// This is where we draw the actual red line
		&::before {
			display: inline-block;
			background-color: $color;
			margin-left: -($lineLength + $lineDistance);
			margin-right: $lineDistance;
			margin-bottom: .33em;
			width: $lineLength;
			height: $lineWidth;
			content: " ";
		}
	}
}

// Large infobox with drop shadow
@mixin infobox($boxColor: #999, $textColor: #fff, $maxWidth: null) {
	margin: 100px 0;
	background-color: $boxColor;
	box-shadow: 10px 11px 0px 0px rgba(darken($boxColor, 10), 0.3);
	// Set a max width if applicable
	@if $maxWidth {
		max-width: $maxWidth;
	}
	// Make sure contained tex has the right color
	p, a, h1, h2 {
		color: $textColor;
		font-weight: $font__weight-light;
	}
}
