.previous-speakers-line {
	width: 62px;
    background-color: #ff2b06;
    margin-left: 150px;
    height: 2px;
    position: absolute;
    top: 22px;
}

.previous-speakers-section {
	margin: 110px 0;
	position: relative;
}

.previous-speakers-headline {
	margin-left: 275px;
	text-align: left;
}

.previous-speakers-text {
	margin-left: 275px;
}