.content-area {
	width: 1180px;
	margin-left: auto;
    margin-right: auto;
}

body {
   background: #ededed;
   background-image: url('https://dl.dropboxusercontent.com/u/10313809/bg.svg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: -30px 800px;
}