.entry-title a {
	text-decoration: none;
}

#secondary,
.entry-footer,
.entry-meta {
	display: none;
}

.category-news {
	article {
		margin-bottom: 130px;
		height: 370px;
	}

	p {
		text-align: center;
	}

	.entry-title,
	.entry-content {
		display: none;
	}

	.post-teaser {
		display: table;

		a {
			text-decoration: none;
		}

		hr {
			height: 2px;
			width: 50px;
			background-color: #ff2b06;
		}
	}

	.post-teaser-img {
		width: 50%;
		float: left;
	}

	.post-teaser-text {
		width: 45%;
		float: right;
		margin-left: 5%;
		position: relative;
    	top: 30%;
    	transform: translateY(30%);
	}
}

.category-news:nth-of-type(2n) .post-teaser-link {
	display: table-footer-group;
	float: right;

	.post-teaser-img {
		width: 88%;
		float: right;
	}
}

.category-news:nth-of-type(2n) .post-teaser-text {
	display: table-header-group;
    float: left;
    top: -125%;
    transform: translateY(-125%);
    margin-left: 0;
}

.red-page-header {
	@extend %red__box;

	.red-page-header__line {
		width: 62px;
		background-color: #7d1300;
		margin-left: 150px;
		height: 2px;
	}

	.red-page-header__headline {
		color: #7d1300;
		text-align: left;
		position: absolute;
    	top: 22px;
    	left: 245px;
	}

	.red-page-header__text {
		text-align: left;
		margin-left: 245px;
		color: #fff;
		width: 750px;
		font-weight: $light;
	}
}