.entry-title a {
	text-decoration: none;
}

#secondary,
.entry-footer,
.entry-meta {
	display: none;
}

.category-news {
	article {
		margin-bottom: 130px;
		height: 370px;
	}

	p {
		text-align: center;
	}

	.entry-title,
	.entry-content {
		display: none;
	}

	.post-teaser {
		display: table;

		a {
			text-decoration: none;
		}

		hr {
			height: 2px;
			width: 50px;
			background-color: #ff2b06;
		}
	}

	.post-teaser-img {
		width: 50%;
		float: left;
	}

	.post-teaser-text {
		width: 45%;
		float: right;
		margin-left: 5%;
		position: relative;
    	top: 30%;
    	transform: translateY(30%);
	}
}

.category-news:nth-of-type(2n) .post-teaser-link {
	display: table-footer-group;
	float: right;

	.post-teaser-img {
		width: 88%;
		float: right;
	}
}

.category-news:nth-of-type(2n) .post-teaser-text {
	display: table-header-group;
    float: left;
    top: -125%;
    transform: translateY(-125%);
    margin-left: 0;
}

.red-page-header {
	@extend %red__box;

	.red-page-header__line {
		width: 62px;
		background-color: #7d1300;
		margin-left: 150px;
		height: 2px;
	}

	.red-page-header__headline {
		color: #7d1300;
		text-align: left;
		position: absolute;
    	top: 22px;
    	left: 275px;
	}

	.red-page-header__text {
		text-align: left;
		margin-left: 280px;
		color: #fff;
	}
}


.landing-page-container {
	.post-teaser-text,
	.category-news:nth-of-type(2n) .post-teaser-text {
		display: none;
	}

	.category-news:nth-of-type(2n) .post-teaser-link .post-teaser-img {
		margin-left: 2%;
	}

	.post-teaser {
		float: left;
		width: 50%;
	}

	.post-teaser-img {
		width: 98% !important;
		float: left !important;
		margin-bottom: 4%;
	}

	.show-all-news {
		background: transparent;
    	box-shadow: none;
    	text-shadow: none;
    	border-radius: 0;
    	border: 2px solid $color__text--red;
    	padding: 12px 45px;
    	transition: all 0.3s ease 0s;
    	text-transform: uppercase;
    	width: 100%;
    	padding: 0;
    	margin-top: 30px;

    	&:hover {
    		background-color: $color__text--red;
    		border-color: $color__text--red;
    		box-shadow: none;
    	}

    	a {
    		font-weight: bold;
    		font-size: 16px;
    		text-decoration: none;
    		color: $color__text--red;
    		display: block;
    		padding: 20px;

    		&:hover {
    			color: #fff;
    			transition: all 0.3s ease 0s;
    		}
    	}
	}

	.show-all-news__header {
		margin-bottom: 60px;
	}

	.latest-news {
		position: relative;
		top: -60px;
	}
}
