.video-container {
	width: 100%;
	margin-top: 90px;
	overflow: hidden;
	position: relative;
	background: #000;
	height: 660px;

	video {
		min-width: 100%;
	}

	.content {
		max-width: 1180px;
	    margin: 0 auto;
	    position: absolute;
	    top: 0;
	    left: 50%;
	    margin-left: -590px;

	    @media screen and ( max-width: 782px ) {
			margin-left: 8px !important;
			left: 0;
		}
	}
}

.shadow-inset {
	box-shadow: inset 0px 0px 350px #000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 1550px;
}

.video-section {
	// Make sure we've got pleanty of space and centered margins
	margin: 100px auto;

	@media screen and ( max-width: 782px ) {
		margin: 50px auto;
	}
}

.video-header {
	text-align: left;
	font-weight: $font__weight-bold;
	color: $color__text-white;
	@include font-size(4);
	// Make sure the TEDx span is red
	span {
		color: $color__text-red;
	}

	@media screen and ( max-width: 782px ) {
		@include font-size(2.33);
	}
}

.video-text {
	color: $color__text-white;
	max-width: 580px;
}

.video-button {
	background: transparent;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	border: 1px solid $color__text-red;
	padding: 12px 45px;
	margin: 30px auto;
	transition: all 0.3s ease 0s;
	text-transform: uppercase;

	&:hover {
		background-color: $color__text-red;
		border-color: $color__text-red;
		box-shadow: none;
	}

	@media screen and ( max-width: 782px ) {
		width: 100%;
	}
}

.video-button-link {
	font-weight: bold;
	color: $color__text-white;
	text-decoration: none;

	&:hover,
	&:visited {
		color: $color__text-white;
	}
}
